# IDE related cache/leak files
.idea
.vscode/**
.obsidian
.obsidian/**

# Local related cache/leak files
.DS_Store
**/.envrc
**/.env
*.log
temp/
build/
.claude/

megalinter-reports

# Ansible related cache/leak files
ansible.cfg

# Kubernetes related cache/leak files
kubeconfig

# Terraform related cache/leak files
**/.terraform
**/*.auto.tfvars
**/*.tfvars
**/*.bw-provider-state
**/terraform.tfstate.backup
